package health

import (
	"{{ .Title }}/pkg/database"
	"{{ .Title }}/internal/config"
	"{{ .Title }}/internal/pkg/response"
	healthRepository "{{ .Title }}/internal/repository/health"
)

type Health struct{
	Config 	   *config.Config
	DB     	   database.DB
	Repository healthRepository.Repository
}

func (h *Health) Status() response.Response {
	return response.Success("health")
}
