package health

import (
	"{{ .Title }}/pkg/database"
	"{{ .Title }}/internal/config"
	"{{ .Title }}/internal/pkg/response"
	healthModel "{{ .Title }}/internal/model/health"
)

type Health struct{
	Config *config.Config
	DB     database.DB
	HealthModelClient healthModel.Repository
}

func (h *Health) Status() response.Response {
	return response.Success("health")
}
