package server

import (
	"{{ .Title }}/internal/pkg/migration"
	"{{ .Title }}/internal/repository/health"
)

func (s *Server) migrate() error {
	return migration.RunMigrations(s.DB.GetDB(), s.buildMigrationRegistry())
}

func (s *Server) Migrate() error {
	return migration.RunMigrations(s.DB.GetDB(), s.buildMigrationRegistry())
}

func (s *Server) RollbackMigration(version string) error {
	return migration.RollbackMigration(s.DB.GetDB(), s.buildMigrationRegistry(), version)
}

func (s *Server) buildMigrationRegistry() *migration.MigrationRegistry {
	registry := migration.NewMigrationRegistry()

	health.RegisterMigrations(registry)

	return registry
}
